<div id="news">
  <div class="update">
    <h3><%= JapaneseTitle.translate_title(@novel.name) %> | <%= which_title?(@novel) %></h3>
    <span>
      <%= link_to t(:eng), :id => params[:id], :method => 1 %> | 
      <%= link_to t(:jap), :id => params[:id], :method => 2 %> | 
      <%= link_to t(:both), :id => params[:id], :method => 3 %>
    </span>
    <br />
    <% if session[:level] == 'admin' %>
      <span>
        <%= link_to t(:edit), :action => :edit, :id => @novel.id %> | 
        <%= link_to t(:destroy), :action => 'destroy_novel', :id => @novel.id %>
      </span>
    <% end %>
    <p><%=raw parse(@novel.body) %></p>
  </div>
</div>
