<%= form_for :translations, :url => { :action => 'create_translation' } do |f| %>
  <div class="field"><%= f.label :name, t(:series) %><%= f.text_field :name %></div>
  <div class="field"><%= f.label :volume, t(:volume) %><%= f.text_field :volume %></div>
  <div class="field"><%= f.label :chapter, t(:chapter) %><%= f.text_field :chapter %></div>
  <div class="field"><%= f.label :title, t(:title) %><%= f.text_field :title %></div>
  <div class="field"><%= f.label :jtitle, t(:jtitle) %><%= f.text_field :jtitle %></div>
  <div class="field"><%= f.label :body, t(:body) %><%= f.text_area :body %></div>
  <div class="field"><%= f.submit t(:submit), :id => 'submit' %></div>
<% end %>
