<%= form_for :uploads, :url => { :action => 'create' } do |f| %>
  <div class="field"><%= f.label :name, "Title" %><%= f.text_field :name %></div>
  <div class="field"><%= f.label :volume, "Volume" %><%= f.text_field :volume %></div>
  <div class="field"><%= f.label :chapter, "Chapter" %><%= f.text_field :chapter %></div>
  <div class="field"><%= f.label :url, "Link" %><%= f.text_field :url %></div>
  <div class="field"><%= f.submit 'Submit', :id => 'submit' %></div>
<% end %>
