<%= form_for :uploads, :url => { :action => 'create' } do |f| %>
  <div class="field"><%= f.label :name, t(:title) %><%= f.text_field :name %></div>
  <div class="field"><%= f.label :volume, t(:volume) %><%= f.text_field :volume %></div>
  <div class="field"><%= f.label :chapter, t(:chapter) %><%= f.text_field :chapter %></div>
  <div class="field"><%= f.label :url, t(:link) %><%= f.text_field :url %></div>
  <div class="field"><%= f.submit t(:submit), :id => 'submit' %></div>
<% end %>
