<h2><%=t :admin_panel %></h2>
<pre>
<%=t :scanlations_page %>:
<%= link_to t(:add_new_scanlation), :action => 'add_update' %>
<%= link_to t(:add_title_relation), :action => 'title_relation' %>

<%=t :light_novel_page %>:
<%= link_to t(:add_new_novel), :action => 'add_novel' %>
<%= link_to t(:add_title_relation), :action => 'title_relation' %>

<%=t :announcements %>:
<%= link_to t(:add_new_announcement), :action => 'announce' %>
</pre>
