<div id="news">
  <div class="update">
    <h3><%= @post.title %> <span>| <%=t :post_time, :time => time_ago_in_words(@comments_hook.created_at), :user => @comments_hook.author %></span></h3>
    <p><%= url_tags(@post.body).html_safe %></p>
  </div>
</div>
<h3><%=t :post_comment %></h3>
<%= form_for :comment, :url => { :action => 'make_comment' } do |f| %>
  <div class="field"><%= f.label :author, t(:name) %><%= f.text_field :author %></div>
  <div class="field"><%= f.label :body, t(:body) %><%= f.text_area :body %></div>
  <div class="field"><%= f.hidden_field :announcement_id, :value => params[:id] %></div>
  <div class="field"><%= f.hidden_field :ip, :value => request.remote_ip %></div>
  <div id="bot_field">
    <p>If you can see this, do not touch the value below. It is to catch bots.</p>
    <div class="field"><%= label_tag :email, t(:email) %><%= text_field_tag :email %></div>
  </div>
  <div class="field"><%= f.submit t(:submit), :id => 'submit', :class => 'make_comment' %></div>
<% end %>
<% unless @comments.nil? %>
  <div id="comments">
    <h3><%=t :comments %></h3>
    <% @comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.body %></p>
        <span><%=t :written_by, :author => comment.author, :time => time_ago_in_words(comment.created_at) %></span>
      </div>
    <% end %>
    <%= will_paginate @comments %>
  </div>
<% end %>
