<div id="news">
  <div class="update">
    <h3><%=t :who %></h3>
    <p><%=t :who_ans %></p>
  </div>
  <div class="update">
    <h3><%=t :what %></h3>
    <p><%=t :what_ans %></p>
  </div>
  <div class="update">
    <h3><%=t :mirror %></h3>
    <p><%=t :mirror_ans %></p>
  </div>
  <div class="update">
    <h3><%=t :links %></h3>
    <p><%=t :links_ans %></p>
  </div>
  <div class="update">
    <h3><%=t :join %></h3>
    <p><%=t :join_ans %></p>
  </div>
</div>
