<div id="footer">
  <div class="footer_left">
    <h3><%=t :affiliate %></h3>
    <span class="footer_drop">
      <%= link_to "Batoto", 'http://www.batoto.com/' %> &middot; 
      <%= link_to "Fuwa Cake", 'http://www.fuwacake.com/' %>
    </span>
  </div>
  <div class="footer_left">
    <span class="footer_top">
      <%= link_to image_tag('usa.gif', :height => '20px', :width => '29px'), url_for(params.merge(:locale => :en)) %>
      <%= link_to image_tag('jp_flag.jpg'), url_for(params.merge(:locale => 'jp')) %>
    </span>
    <br />
    <span><%=t :copyright %> &copy; 2011 <%= back_to_home("Sakura Shards") %>. <%=t :rights %></span><br />
    <span><%=raw t(:render, :link1 => link_to('Charny','http://hostinga.imagecross.com/image-hosting-07/3349KChew.png'), :link2 => link_to('EISENbricher','http://sakurahana.com/forum/anime-renders/53292-toxic-girl.html')) %></span>
  </div>
  <div class="footer_right">
    <span class="footer_top"><%=t :designed_by %></span>
    <br />
    <span><%= image_tag "fuwacake_logo.png" %></span>
  </div>
  <div class="clear"></div>
</div>
