<div id="footer">
  <div class="footer_left">
    <h3>AFFILIATES</h3>
    <span class="footer_drop">
      <%= link_to "Batoto", 'http://www.batoto.com/' %> &middot; 
      <%= link_to "Fuwa Cake", 'http://www.fuwacake.com/' %>
    </span>
  </div>
  <div class="footer_left">
    <span class="footer_top">
      <%= image_tag 'usa.gif', :height => '20px', :width => '29px' %>
      <%= image_tag 'jp_flag.jpg' %>
    </span>
    <br />
    <span>Copyright &copy; 2011 <%= back_to_home("Sakura Shards") %>. All rights reserved.</span>
  </div>
  <div class="footer_right">
    <span class="footer_top">website designed by</span>
    <br />
    <span><%= image_tag 'fuwacake_logo.jpg' %></span>
  </div>
  <div class="clear"></div>
</div>
